USE [GPLX_XLVP]
GO
/****** Object:  Table [dbo].[DM_LyDoCam5Nam]    Script Date: 11/18/2023 10:21:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_LyDoCam5Nam](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](150) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
 CONSTRAINT [PK_DM_LyDoCam5Nam] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_QuocTich]    Script Date: 11/18/2023 10:21:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DM_QuocTich](
	[Ma] [varchar](3) NOT NULL,
	[TenEN] [nvarchar](200) NOT NULL,
	[TenVN] [nvarchar](200) NULL,
	[GhiChu] [nvarchar](300) NULL,
	[TrangThai] [bit] NOT NULL CONSTRAINT [DF_DM_QuocTich_TrangThai]  DEFAULT ((1)),
	[NguoiTao] [nvarchar](30) NULL,
	[NguoiSua] [nvarchar](30) NULL,
	[NgayTao] [datetime] NOT NULL CONSTRAINT [DF_DM_QuocTich_NgayTao]  DEFAULT (getdate()),
	[NgaySua] [datetime] NOT NULL CONSTRAINT [DF_DM_QuocTich_NgaySua]  DEFAULT (getdate()),
 CONSTRAINT [PK_DM_QuocTich] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DM_SoGTVT]    Script Date: 11/18/2023 10:21:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DM_SoGTVT](
	[MaDV] [varchar](2) NOT NULL,
	[TenDV] [nvarchar](100) NULL,
	[DienThoai] [varchar](20) NULL,
	[Fax] [varchar](20) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[LanhDao] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[TrangThai] [bit] NOT NULL CONSTRAINT [DF_DM_DonViGTVT_TrangThai]  DEFAULT ((1)),
	[NguoiTao] [nvarchar](30) NULL CONSTRAINT [DF_DM_DonViGTVT_NguoiTao]  DEFAULT (N'ADMIN'),
	[NguoiSua] [nvarchar](30) NULL CONSTRAINT [DF_DM_DonViGTVT_NguoiSua]  DEFAULT (N'ADMIN'),
	[NgayTao] [datetime] NOT NULL CONSTRAINT [DF_DM_DonViGTVT_NgayTao]  DEFAULT (getdate()),
	[NgaySua] [datetime] NOT NULL CONSTRAINT [DF_DM_DonViGTVT_NgaySua]  DEFAULT (getdate()),
 CONSTRAINT [PK_DM_SoGTVT] PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DM_ViPham]    Script Date: 11/18/2023 10:21:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_ViPham](
	[MaViPham] [int] IDENTITY(1,1) NOT NULL,
	[TenViPham] [nvarchar](50) NOT NULL,
	[VPPL] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[TrangThai] [bit] NOT NULL CONSTRAINT [DF_DM_ViPham_TrangThai]  DEFAULT ((1)),
	[NguoiTao] [nvarchar](30) NULL,
	[NguoiSua] [nvarchar](30) NULL,
	[NgayTao] [datetime] NOT NULL CONSTRAINT [DF_DM_ViPham_NgayTao]  DEFAULT (getdate()),
	[NgaySua] [datetime] NOT NULL CONSTRAINT [DF_DM_ViPham_NgaySua]  DEFAULT (getdate()),
 CONSTRAINT [PK_DM_ViPham] PRIMARY KEY CLUSTERED 
(
	[MaViPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DsCam5Nam]    Script Date: 11/18/2023 10:21:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DsCam5Nam](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DaCoGPLX] [int] NULL,
	[SoGPLX] [varchar](20) NULL,
	[NoiCapGPLX] [varchar](6) NULL,
	[NgayCap] [date] NULL,
	[SoCMND] [varchar](20) NOT NULL,
	[HoVaTen] [nvarchar](150) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[NoiCTTinh] [varchar](10) NOT NULL,
	[NoiCTHuyen] [varchar](10) NOT NULL,
	[NoiCTXa] [varchar](10) NOT NULL,
	[NoiCTChiTiet] [nvarchar](150) NOT NULL,
	[LyDo] [bigint] NOT NULL,
	[ThoiGianCamTu] [date] NOT NULL,
	[ThoiGianCamDen] [date] NOT NULL,
	[CoQuanRaQD] [varchar](6) NOT NULL,
	[SoQD] [nvarchar](100) NULL,
	[NgayRaQD] [date] NULL,
	[DuongDanhFile] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](150) NULL,
	[NgayTao] [date] NULL,
	[NguoiTao] [nvarchar](100) NULL,
	[NgayCapNhat] [date] NULL,
	[NguoiCapNhat] [nvarchar](100) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_DsCam5Nam] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DM_LyDoCam5Nam] ON 

INSERT [dbo].[DM_LyDoCam5Nam] ([ID], [Ten], [MoTa]) VALUES (1, N'Tước quyền sử dụng GPLX 30 ngày', NULL)
INSERT [dbo].[DM_LyDoCam5Nam] ([ID], [Ten], [MoTa]) VALUES (2, N'Tước quyền sử dụng GPLX 60 ngày', NULL)
INSERT [dbo].[DM_LyDoCam5Nam] ([ID], [Ten], [MoTa]) VALUES (3, N'Tước quyền sử dụng GPLX 90 ngày', NULL)
SET IDENTITY_INSERT [dbo].[DM_LyDoCam5Nam] OFF
INSERT [dbo].[DM_QuocTich] ([Ma], [TenEN], [TenVN], [GhiChu], [TrangThai], [NguoiTao], [NguoiSua], [NgayTao], [NgaySua]) VALUES (N'ABW', N'Aruba', N'Aruba', N'Aruba', 0, N'ADMIN', N'BABT', CAST(N'2011-11-09 09:34:15.360' AS DateTime), CAST(N'2011-12-06 17:26:04.090' AS DateTime))
INSERT [dbo].[DM_QuocTich] ([Ma], [TenEN], [TenVN], [GhiChu], [TrangThai], [NguoiTao], [NguoiSua], [NgayTao], [NgaySua]) VALUES (N'AFG', N'Afghanistan', N'Afghanistan', N'', 1, N'ADMIN', N'MINHHH', CAST(N'2011-11-09 09:38:52.553' AS DateTime), CAST(N'2011-12-06 17:25:57.900' AS DateTime))
INSERT [dbo].[DM_QuocTich] ([Ma], [TenEN], [TenVN], [GhiChu], [TrangThai], [NguoiTao], [NguoiSua], [NgayTao], [NgaySua]) VALUES (N'AGO', N'Angola', N'Angola', N'', 1, N'ADMIN', N'', CAST(N'2011-11-09 09:34:15.517' AS DateTime), CAST(N'2011-11-25 17:48:51.327' AS DateTime))
GO
INSERT [dbo].[DM_SoGTVT] ([MaDV], [TenDV], [DienThoai], [Fax], [DiaChi], [LanhDao], [GhiChu], [TrangThai], [NguoiTao], [NguoiSua], [NgayTao], [NgaySua]) VALUES (N'01', N'Hà Nội', NULL, NULL, NULL, NULL, NULL, 1, N'ADMIN', N'ADMIN', CAST(N'2011-10-14 13:44:43.343' AS DateTime), CAST(N'2011-10-14 13:44:43.343' AS DateTime))
INSERT [dbo].[DM_SoGTVT] ([MaDV], [TenDV], [DienThoai], [Fax], [DiaChi], [LanhDao], [GhiChu], [TrangThai], [NguoiTao], [NguoiSua], [NgayTao], [NgaySua]) VALUES (N'02', N'Hà Giang', NULL, NULL, NULL, NULL, NULL, 1, N'ADMIN', N'ADMIN', CAST(N'2011-10-14 13:44:43.343' AS DateTime), CAST(N'2011-10-14 13:44:43.343' AS DateTime))
INSERT [dbo].[DM_SoGTVT] ([MaDV], [TenDV], [DienThoai], [Fax], [DiaChi], [LanhDao], [GhiChu], [TrangThai], [NguoiTao], [NguoiSua], [NgayTao], [NgaySua]) VALUES (N'04', N'Cao Bằng', NULL, NULL, NULL, NULL, NULL, 1, N'ADMIN', N'ADMIN', CAST(N'2011-10-14 13:44:43.343' AS DateTime), CAST(N'2011-10-14 13:44:43.343' AS DateTime))
SET IDENTITY_INSERT [dbo].[DM_ViPham] ON 

INSERT [dbo].[DM_ViPham] ([MaViPham], [TenViPham], [VPPL], [GhiChu], [TrangThai], [NguoiTao], [NguoiSua], [NgayTao], [NgaySua]) VALUES (1, N'Tước quyền sử dụng GPLX 30 ngày', NULL, NULL, 1, NULL, NULL, CAST(N'2011-10-15 09:46:15.133' AS DateTime), CAST(N'2011-10-15 09:46:15.133' AS DateTime))
INSERT [dbo].[DM_ViPham] ([MaViPham], [TenViPham], [VPPL], [GhiChu], [TrangThai], [NguoiTao], [NguoiSua], [NgayTao], [NgaySua]) VALUES (2, N'Tước quyền sử dụng GPLX 60 ngày', NULL, NULL, 1, NULL, NULL, CAST(N'2011-10-15 09:46:26.940' AS DateTime), CAST(N'2011-10-15 09:46:26.940' AS DateTime))
INSERT [dbo].[DM_ViPham] ([MaViPham], [TenViPham], [VPPL], [GhiChu], [TrangThai], [NguoiTao], [NguoiSua], [NgayTao], [NgaySua]) VALUES (3, N'Tước quyền sử dụng GPLX 90 ngày', NULL, NULL, 1, NULL, NULL, CAST(N'2011-10-15 09:46:52.980' AS DateTime), CAST(N'2011-10-15 09:46:52.980' AS DateTime))
SET IDENTITY_INSERT [dbo].[DM_ViPham] OFF
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 = khong hieu luc; 1 = co hieu luc; mac dinh la 1;' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DM_QuocTich', @level2type=N'COLUMN',@level2name=N'TrangThai'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DM_SoGTVT', @level2type=N'COLUMN',@level2name=N'DienThoai'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Địa chỉ của đơn vị' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DM_SoGTVT', @level2type=N'COLUMN',@level2name=N'DiaChi'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Lãnh đạo của đơn vị' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DM_SoGTVT', @level2type=N'COLUMN',@level2name=N'LanhDao'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 = khong hieu luc; 1 = co hieu luc; mac dinh la 1;' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DM_SoGTVT', @level2type=N'COLUMN',@level2name=N'TrangThai'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đã có GPLX: 1 đã có, 0: chưa có' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DsCam5Nam', @level2type=N'COLUMN',@level2name=N'DaCoGPLX'
GO
